asgiref==3.6.0
beautifulsoup4==4.11.2
black==23.1.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
cloudinary==1.32.0
colorama==0.4.6
creategitignore==0.2.1
Django==4.1.7
django-autoslug==1.9.8
django-cloudinary-storage==0.3.0
django-jazzmin==2.6.0
django-rest-framework==0.1.0
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
Faker==17.6.0
google-api-core==2.11.0
google-api-python-client==2.80.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
httplib2==0.21.0
idna==3.4
mypy-extensions==1.0.0
mysqlclient==2.1.1
packaging==23.0
pathspec==0.11.0
Pillow==9.4.0
platformdirs==3.1.0
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.8
pytz==2022.7.1
requests==2.28.2
rsa==4.9
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
tomli==2.0.1
uritemplate==4.1.1
urllib3==1.26.15
utils==1.0.1
